
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="" >
        <div> <label>发送消息</label><input type="text" id="sendMessage" />
            <button id="sendBtn">提交一对一发送</button></div>
        <div>

            <label>发送多个消费者消息</label><input type="text" id="sendMessages" />
            <button id="sendBtns">提交一对多发送</button>
        </div>
        <div>
            <label>用户名</label><input type="text" id="userId" />
            <label>密码</label><input type="text" id="password" />
            <button id="sendTopicBtns">提交topic发送对象</button>
        </div>
        <div> <label>发送消息</label><input type="text" id="sendFanoutMessage" />
            <button id="sendFanoutBtn">提交广播发送</button></div>
    </form>
</body>
<script th:src="@{../js/jquery.min.js}" type="text/javascript"></script>
<script th:src="@{../js/bootstrap.min.js}" type="text/javascript"></script>
<script type="text/javascript">

    $(function(){

        $("#sendBtn").click(function () {
            $.ajax({
                url : '/rabbit/hello',
                type : 'post',
                dataType : 'json',
                data:{
                    sendMsg:$("#sendMessage").val()
                },
                success : function(data){



                }


            })
        })

        $("#sendBtns").click(function () {
            $.ajax({
                url : '/rabbit/onetomany',
                type : 'post',
                dataType : 'json',
                data:{
                    sendMsg:$("#sendMessages").val()
                },
                success : function(data){



                }


            })
        })

        $("#sendFanoutBtn").click(function () {
            $.ajax({
                url : '/rabbit/fanoutSend',
                type : 'post',
                dataType : 'json',
                data:{
                    msg:$("#sendFanoutMessage").val()
                },
                success : function(data){



                }


            })
        })
        //发送对象到topic exchange
        $("#sendTopicBtns").click(function () {
            $.ajax({
                url : '/rabbit/userTopicSend',
                type : 'post',
                dataType : 'json',
                data:{
                    username:$("#userId").val(),
                    password:$("#password").val()
                },
                success : function(data){



                }


            })
        })


    })

</script>
</html>